* text=auto !eol
GEMIPM2K/.cproject -text
GEMIPM2K/.project -text
GEMIPM2K/Makefile -text
GEMIPM2K/Makefile.MinGW -text
GEMIPM2K/Makefile.lib -text
GEMIPM2K/array.h -text
GEMIPM2K/databr.h -text
GEMIPM2K/datach.h -text
GEMIPM2K/doc/html/gemipm2k-inp.html -text
GEMIPM2K/doc/html/gemipm2k-man.html -text
GEMIPM2K/doc/html/gems1.png -text
GEMIPM2K/doc/txt/PGIcompile.txt -text
GEMIPM2K/doc/txt/SVN-URL-ROCKFLOW-GEM.txt -text
GEMIPM2K/doc/txt/ToDo-list.txt -text
GEMIPM2K/doc/txt/databr.h -text
GEMIPM2K/doc/txt/datach.h -text
GEMIPM2K/doc/txt/dbr-dat-doc.txt -text
GEMIPM2K/doc/txt/dch-dat-doc.txt -text
GEMIPM2K/doc/txt/f_gem_node.h -text
GEMIPM2K/doc/txt/f_gem_node.inc -text
GEMIPM2K/doc/txt/filelist-doc.txt -text
GEMIPM2K/doc/txt/ipm-dat-doc.txt -text
GEMIPM2K/gdatastream.cpp -text
GEMIPM2K/gdatastream.h -text
GEMIPM2K/gstring.cpp -text
GEMIPM2K/gstring.h -text
GEMIPM2K/io_arrays.cpp -text
GEMIPM2K/io_arrays.h -text
GEMIPM2K/ipm_chemical.cpp -text
GEMIPM2K/ipm_chemical2.cpp -text
GEMIPM2K/ipm_chemical3.cpp -text
GEMIPM2K/ipm_main.cpp -text
GEMIPM2K/ipm_simplex.cpp -text
GEMIPM2K/jama_cholesky.h -text
GEMIPM2K/jama_lu.h -text
GEMIPM2K/m_const.h -text
GEMIPM2K/m_param.h -text
GEMIPM2K/main.cpp -text
GEMIPM2K/ms_multi.h -text
GEMIPM2K/ms_multi_file.cpp -text
GEMIPM2K/ms_multi_format.cpp -text
GEMIPM2K/ms_param.cpp -text
GEMIPM2K/node.cpp -text
GEMIPM2K/node.h -text
GEMIPM2K/node_format.cpp -text
GEMIPM2K/nodearray.cpp -text
GEMIPM2K/nodearray.h -text
GEMIPM2K/num_methods.cpp -text
GEMIPM2K/num_methods.h -text
GEMIPM2K/obj/Readme.txt -text
GEMIPM2K/platform/CRAYXT3-catamount/Makefile -text
GEMIPM2K/platform/Linux-GNU/Makefile -text
GEMIPM2K/platform/Linux-GNU/Makefile.lib -text
GEMIPM2K/platform/Linux-PGI/Makefile -text
GEMIPM2K/platform/Linux-PGI/Makefile.lib -text
GEMIPM2K/platform/Linux-PGI/Makefile.prof -text
GEMIPM2K/platform/other/Makefile -text
GEMIPM2K/platform/win32MinGW/Makefile -text
GEMIPM2K/platform/win32bcc/Makefile -text
GEMIPM2K/s_fgl.cpp -text
GEMIPM2K/s_fgl.h -text
GEMIPM2K/s_fgl2.cpp -text
GEMIPM2K/test/CalcColumn-dat.lst -text
GEMIPM2K/test/CalcColumn-dbr-0-0000.dat -text
GEMIPM2K/test/CalcColumn-dbr-0-0001.dat -text
GEMIPM2K/test/CalcColumn-dbr-0-XXXX.dat -text
GEMIPM2K/test/CalcColumn-dbr.lst -text
GEMIPM2K/test/CalcColumn-dch.dat -text
GEMIPM2K/test/CalcColumn-ipm.dat -text
GEMIPM2K/test/Readme.1st -text
GEMIPM2K/test/TEST.BAT -text
GEMIPM2K/test/test.sh -text
GEMIPM2K/tnt.h -text
GEMIPM2K/tnt_array1d.h -text
GEMIPM2K/tnt_array2d.h -text
GEMIPM2K/tnt_i_refvec.h -text
GEMIPM2K/v_user.h -text
GEMIPM2K/verror.h -text
GEMIPM2K/win32-run.bat -text
gem2mt-sep/CalcColumn.BAT -text
gem2mt-sep/Makefile -text
gem2mt-sep/Makefile.MinGW -text
gem2mt-sep/doc/Readme.1st -text
gem2mt-sep/doc/filelist-doc.txt -text
gem2mt-sep/gem2mt-sep.pro -text
gem2mt-sep/ipmlog.txt -text
gem2mt-sep/m_gem2mtbox.cpp -text
gem2mt-sep/m_gem2mtt.cpp -text
gem2mt-sep/main.cpp -text
gem2mt-sep/ms_gem2mt.cpp -text
gem2mt-sep/ms_gem2mt.h -text
gem2mt-sep/obj/Readme.txt -text
gem2mt-sep/particlearray.cpp -text
gem2mt-sep/particlearray.h -text
gem2mt-sep/platform/Linux-GNU/Makefile -text
gem2mt-sep/platform/Linux-PGI/Makefile -text
gem2mt-sep/platform/other/Makefile -text
gem2mt-sep/platform/win32bcc/Makefile -text
gem2mt-sep/platform/win32minGW/Makefile -text
gem2mt-sep/platform/win32minGW/object_ld_script -text
gem2mt-sep/platform/win32msvc/Makefile -text
gem2mt-sep/test/CalcColumn-dat.lst -text
gem2mt-sep/test/CalcColumn-dbr-0-0000.dat -text
gem2mt-sep/test/CalcColumn-dbr-0-0001.dat -text
gem2mt-sep/test/CalcColumn-dch.dat -text
gem2mt-sep/test/CalcColumn-ipm.dat -text
gem2mt-sep/test/CalcColumn.BAT -text
gem2mt-sep/test/ICaq-log.dat -text
gem2mt-sep/test/ICdif-log.dat -text
gem2mt-sep/test/Ph-log.dat -text
gem2mt-sep/test/Readme.1st -text
gem2mt-sep/test/ipmlog.txt -text
gem2mt-sep/test/testA-W32.bat -text
gem2mt-sep/test/testA.dat -text
gem2mt-sep/test/testW-W32.bat -text
gem2mt-sep/test/testW.dat -text
gem2mt-sep/test/testW.out -text
mcotac-gem/debug/TEST.INI -text
mcotac-gem/debug/initial.out -text
mcotac-gem/doc/Readme.1st -text
mcotac-gem/platform/GNU/Makefile -text
mcotac-gem/platform/GNU/Makefile.kosas-spider -text
mcotac-gem/platform/GNU/Makefile.kosas-spider-mpi -text
mcotac-gem/platform/GNU/Makefile.lib -text
mcotac-gem/platform/GNU/readme -text
mcotac-gem/platform/INTEL/Makefile -text
mcotac-gem/platform/PGI/Makefile -text
mcotac-gem/platform/PGI/Makefile.mpi -text
mcotac-gem/platform/PGI/ipm_main.cpp -text
mcotac-gem/platform/readme.1st -text
mcotac-gem/source/Makefile -text
mcotac-gem/source/datio.f -text
mcotac-gem/source/erech.f -text
mcotac-gem/source/f_gem_node.cpp -text
mcotac-gem/source/gwheader.h -text
mcotac-gem/source/gwheader.inc -text
mcotac-gem/source/hydro1d_.c -text
mcotac-gem/source/inistat2.f -text
mcotac-gem/source/inparf.f -text
mcotac-gem/source/kinetics.inc -text
mcotac-gem/source/mcotac1d.f -text
mcotac-gem/source/quicksort.f -text
mcotac-gem/source/setpar_.c -text
mcotac-gem/source/walk2_.c -text
mcotac-gem/source/wegdat1d_.c -text
mcotac-gem/test/MCOTAC-GEM/MySystem-dat.lst -text
mcotac-gem/test/MCOTAC-GEM/MySystem-dbr-0-0000.dat -text
mcotac-gem/test/MCOTAC-GEM/MySystem-dbr-0-0000.dat.short -text
mcotac-gem/test/MCOTAC-GEM/MySystem-dbr-0-0001.dat -text
mcotac-gem/test/MCOTAC-GEM/MySystem-dbr-0-0001.dat.short -text
mcotac-gem/test/MCOTAC-GEM/MySystem-dch.dat -text
mcotac-gem/test/MCOTAC-GEM/MySystem-ipm.dat -text
mcotac-gem/test/MCOTAC-GEM/MySystem-ipm.dat.short -text
mcotac-gem/test/MCOTAC-GEM/MySystem.ipm -text
mcotac-gem/test/MCOTAC-GEM/caldpl.zip -text
mcotac-gem/test/TEST.INI -text
mcotac-gem/test/am0001.dat -text
mcotac-gem/test/c_2daa.dat -text
mcotac-gem/test/c_2dab.dat -text
mcotac-gem/test/c_2dac.dat -text
mcotac-gem/test/c_2dad.dat -text
mcotac-gem/test/c_2dae.dat -text
mcotac-gem/test/c_2dsa.dat -text
mcotac-gem/test/c_2dsb.dat -text
mcotac-gem/test/c_2dsc.dat -text
mcotac-gem/test/c_2dsd.dat -text
mcotac-gem/test/c_2dse.dat -text
mcotac-gem/test/conc1t.dat -text
mcotac-gem/test/conc2t.dat -text
mcotac-gem/test/conc3t.dat -text
mcotac-gem/test/conc4t.dat -text
mcotac-gem/test/conc5t.dat -text
mcotac-gem/test/conca.dat -text
mcotac-gem/test/concb.dat -text
mcotac-gem/test/concc.dat -text
mcotac-gem/test/concd.dat -text
mcotac-gem/test/conce.dat -text
mcotac-gem/test/h00001.dat -text
mcotac-gem/test/iche01.dat -text
mcotac-gem/test/initial.out -text
mcotac-gem/test/input_1.dat -text
mcotac-gem/test/ipmlog.txt -text
mcotac-gem/test/ir0001.dat -text
mcotac-gem/test/mco_out.out -text
mcotac-gem/test/p_ibxa.dat -text
mcotac-gem/test/p_ibxb.dat -text
mcotac-gem/test/p_ibxc.dat -text
mcotac-gem/test/p_ibxd.dat -text
mcotac-gem/test/p_ibxe.dat -text
mcotac-gem/test/por001.dat -text
mcotac-gem/test/qn0001.dat -text
mcotac-gem/test/qr0001.dat -text
mcotac-gem/test/ra.dat -text
mcotac-gem/test/rb.dat -text
mcotac-gem/test/rc.dat -text
mcotac-gem/test/rd.dat -text
mcotac-gem/test/re.dat -text
mcotac-gem/test/solids.dat -text
mcotac-gem/test/ss0001.dat -text
mcotac-gem/test/test11.itm -text
mcotac-gem/test/va.dat -text
mcotac-gem/test/vb.dat -text
mcotac-gem/test/vc.dat -text
mcotac-gem/test/vd.dat -text
mcotac-gem/test/ve.dat -text
mcotac-gem/test/wa.dat -text
mcotac-gem/test/wb.dat -text
mcotac-gem/test/wc.dat -text
mcotac-gem/test/wd.dat -text
mcotac-gem/test/we.dat -text
node-gem/Makefile -text
node-gem/Makefile.MinGW -text
node-gem/doc/Readme.1st -text
node-gem/doc/scm-dbr-dat-doc.txt -text
node-gem/doc/scm-dch-dat-doc.txt -text
node-gem/doc/scm-ipm-dat-doc.txt -text
node-gem/linux-run.bat -text
node-gem/main.cpp -text
node-gem/node-gem-sep.pro -text
node-gem/obj/Readme.txt -text
node-gem/platform/CRAYXT3-catamount/Makefile -text
node-gem/platform/Linux-GNU/Makefile -text
node-gem/platform/Linux-Intel/Makefile -text
node-gem/platform/Linux-PGI/Makefile -text
node-gem/platform/Linux-PGI/Makefile.prof -text
node-gem/platform/other/Makefile -text
node-gem/platform/win32bcc/Makefile -text
node-gem/platform/win32minGW/Makefile -text
node-gem/platform/win32minGW/object_ld_script -text
node-gem/platform/win32msvc/Makefile -text
node-gem/test_ads/TestAds.BAT -text
node-gem/test_ads/UL_on_Qtz-dat.lst -text
node-gem/test_ads/UL_on_Qtz-dbr-0-0000.dat -text
node-gem/test_ads/UL_on_Qtz-dch.dat -text
node-gem/test_ads/UL_on_Qtz-ipm.dat -text
node-gem/test_ads/main.cpp -text
node-gem/test_ads/test_ads.out -text
node-gem/test_data/CalcColumn-dat.lst -text
node-gem/test_data/CalcColumn-dbr-0-0000.dat -text
node-gem/test_data/CalcColumn-dbr-0-0001.dat -text
node-gem/test_data/CalcColumn-dch.dat -text
node-gem/test_data/CalcColumn-ipm.dat -text
node-gem/test_data/CalcColumn.BAT -text
node-gem/test_data/CalcColumn.out -text
node-gem/test_data/Readme.1st -text
node-gem/test_data/linux-run.bat -text
node-gem/test_data/main.cpp -text
node-gem/time/10/Speed10ic-dat.lst -text
node-gem/time/10/Speed10ic-dbr-0-0000.dat -text
node-gem/time/10/Speed10ic-dch.dat -text
node-gem/time/10/Speed10ic-ipm.dat -text
node-gem/time/10/Speed10ic.out2A -text
node-gem/time/10/Speed10ic.out2B -text
node-gem/time/10/Speed10ic.out2P -text
node-gem/time/10/linux-run.bat -text
node-gem/time/10/win32-run.bat -text
node-gem/time/15/Speed15ic-dat.lst -text
node-gem/time/15/Speed15ic-dbr-0-0000.dat -text
node-gem/time/15/Speed15ic-dch.dat -text
node-gem/time/15/Speed15ic-ipm.dat -text
node-gem/time/15/Speed15ic.out2A -text
node-gem/time/15/Speed15ic.out2B -text
node-gem/time/15/Speed15ic.out2P -text
node-gem/time/15/linux-run.bat -text
node-gem/time/15/win32-run.bat -text
node-gem/time/20/Speed20ic-dat.lst -text
node-gem/time/20/Speed20ic-dbr-0-0000.dat -text
node-gem/time/20/Speed20ic-dch.dat -text
node-gem/time/20/Speed20ic-ipm.dat -text
node-gem/time/20/Speed20ic.out2A -text
node-gem/time/20/Speed20ic.out2B -text
node-gem/time/20/Speed20ic.out2P -text
node-gem/time/20/linux-run.bat -text
node-gem/time/20/win32-run.bat -text
node-gem/time/25/Speed25ic-dat.lst -text
node-gem/time/25/Speed25ic-dbr-0-0000.dat -text
node-gem/time/25/Speed25ic-dch.dat -text
node-gem/time/25/Speed25ic-ipm.dat -text
node-gem/time/25/Speed25ic.out2A -text
node-gem/time/25/Speed25ic.out2B -text
node-gem/time/25/Speed25ic.out2P -text
node-gem/time/25/linux-run.bat -text
node-gem/time/25/win32-run.bat -text
node-gem/time/30/Speed30ic-dat.lst -text
node-gem/time/30/Speed30ic-dbr-0-0000.dat -text
node-gem/time/30/Speed30ic-dch.dat -text
node-gem/time/30/Speed30ic-ipm.dat -text
node-gem/time/30/Speed30ic.out2A -text
node-gem/time/30/Speed30ic.out2B -text
node-gem/time/30/Speed30ic.out2P -text
node-gem/time/30/linux-run.bat -text
node-gem/time/30/win32-run.bat -text
node-gem/time/35/Speed35ic-dat.lst -text
node-gem/time/35/Speed35ic-dbr-0-0000.dat -text
node-gem/time/35/Speed35ic-dch.dat -text
node-gem/time/35/Speed35ic-ipm.dat -text
node-gem/time/35/Speed35ic.out2A -text
node-gem/time/35/Speed35ic.out2B -text
node-gem/time/35/Speed35ic.out2P -text
node-gem/time/35/linux-run.bat -text
node-gem/time/35/win32-run.bat -text
node-gem/time/40/Speed40ic-dat.lst -text
node-gem/time/40/Speed40ic-dbr-0-0000.dat -text
node-gem/time/40/Speed40ic-dch.dat -text
node-gem/time/40/Speed40ic-ipm.dat -text
node-gem/time/40/Speed40ic.out2A -text
node-gem/time/40/Speed40ic.out2B -text
node-gem/time/40/Speed40ic.out2P -text
node-gem/time/40/linux-run.bat -text
node-gem/time/40/main.cpp -text
node-gem/time/40/win32-run.bat -text
node-gem/time/5/Speed05ic-dat.lst -text
node-gem/time/5/Speed05ic-dbr-0-0000.dat -text
node-gem/time/5/Speed05ic-dch.dat -text
node-gem/time/5/Speed05ic-ipm.dat -text
node-gem/time/5/Speed05ic.out2A -text
node-gem/time/5/Speed05ic.out2B -text
node-gem/time/5/Speed05ic.out2P -text
node-gem/time/5/linux-run.bat -text
node-gem/time/5/win32-run.bat -text
node-gem/time/All_test/AnoxSystem-dat.lst -text
node-gem/time/All_test/AnoxSystem-dbr-0-0000.dat -text
node-gem/time/All_test/AnoxSystem-dch.dat -text
node-gem/time/All_test/AnoxSystem-ipm.dat -text
node-gem/time/All_test/AnoxSystem.out2P -text
node-gem/time/All_test/linux-run.bat -text
node-gem/time/main.cpp -text
node-gem/tp_test/CalcColumn-dat.lst -text
node-gem/tp_test/CalcColumn-dbr-0-0000.dat -text
node-gem/tp_test/CalcColumn-dbr-0-0001.dat -text
node-gem/tp_test/CalcColumn-dch.dat -text
node-gem/tp_test/CalcColumn-ipm.dat -text
node-gem/tp_test/CalcColumn.BAT -text
node-gem/tp_test/CalcColumn_tp.out -text
node-gem/tp_test/linux-run.bat -text
node-gem/tp_test/main.cpp -text
nodearray-gem/LINUX-RUN.BAT -text
nodearray-gem/Makefile -text
nodearray-gem/doc/Readme.1st -text
nodearray-gem/doc/filelist-doc.txt -text
nodearray-gem/main.cpp -text
nodearray-gem/main.cpp.template -text
nodearray-gem/nodearray-gem.pro -text
nodearray-gem/obj/Readme.txt -text
nodearray-gem/platform/Linux-GNU/Makefile -text
nodearray-gem/platform/Linux-PGI/Makefile -text
nodearray-gem/platform/other/Makefile -text
nodearray-gem/platform/win32bcc/Makefile -text
nodearray-gem/platform/win32minGW/Makefile -text
nodearray-gem/platform/win32minGW/object_ld_script -text
nodearray-gem/platform/win32msvc/Makefile -text
nodearray-gem/test/Readme.1st -text
nodearray-gem/test/Speed15ic-dat.lst -text
nodearray-gem/test/Speed15ic-dbr-0-0000.dat -text
nodearray-gem/test/Speed15ic-dbr-0-0001.dat -text
nodearray-gem/test/Speed15ic-dch.dat -text
nodearray-gem/test/Speed15ic-ipm.dat -text
nodearray-gem/test/linux-run.bat -text
nodearray-gem/test/win32-run.bat -text
nodearray-gem/win32-run.bat -text
unspace-sep/Makefile -text
unspace-sep/m_unsp_out.cpp -text
unspace-sep/m_unsp_stat.cpp -text
unspace-sep/main.cpp -text
unspace-sep/ms_unspace.cpp -text
unspace-sep/ms_unspace.h -text
unspace-sep/platform/Linux-GNU/Makefile -text
unspace-sep/platform/win32minGW/Makefile -text
unspace-sep/platform/win32minGW/object_ld_script -text
unspace-sep/test/Portlandit-dat.lst -text
unspace-sep/test/Portlandit-dbr-0-0000.dat -text
unspace-sep/test/Portlandit-dch.dat -text
unspace-sep/test/Portlandit-ipm.dat -text
unspace-sep/test/test1-uns.dat -text
unspace-sep/unspace-sep.pro -text
unspace-sep/unspace.bat -text
