.directory
.vscode/
build/
build*/
install/
cgems/
GEMS3K/ms_multi_new.h
GEMS3K/s_fgl_new.h
tools-build/*.json
tools-build/*.dat
tools-build/*.txt
tools-build/Makefile.*
tools-build/Makefile.*
tools-build/Makefile
tools-build/obj
tools-build/.qmake.*
tools-build/kva2json
tools/*.pro.user
tools/*.pro.user.*
gemcalc-build/Makefile.*
gemcalc-build/Makefile
gemcalc-build/obj
gemcalc-build/object_script.gemcalc.Debug
gemcalc-build/object_script.gemcalc.Release
gemcalc-build/tp_test/CalcColumn-dbr-0-0001.dat.out
gemcalc-build/gemcalc.app
gemcalc-build/.qmake.*
gemcalc-build/AfterCalcPhase.txt
gemcalc-build/BeforeCalcPhase.txt
gemcalc-build/CalcColumn_tp.out
gemcalc-build/gemcalc
gemcalc-build/node-gem
gemcalc-build/ipmlog.txt
gemcalc/gemcalc.pro.user
gemcalc/gemcalc.pro.user.*
lib-gems3k/Makefile
lib-gems3k/Makefile.Debug
lib-gems3k/Makefile.Release
lib-gems3k/gems3k_resource.rc
lib-gems3k/lib-gems3k-a.pro.user
lib-gems3k/lib-gems3k-d.pro.user
lib-gems3k/obj
lib-gems3k/object_script.gems3k.Debug
lib-gems3k/object_script.gems3k.Release
lib-gems3k/object_script.libgems3k.Debug
lib-gems3k/object_script.libgems3k.Release
node-gem-build/Makefile.*
node-gem-build/Makefile
node-gem-build/node-gem_resource.rc
node-gem-build/obj/*.o
node-gem-build/object_script.node-gem.Debug
node-gem-build/object_script.node-gem.Release
node-gem-build/node-gem.app
node-gem-build/node-gem
node-gem-build/.qmake.*
node-gem/node-gem.pro.user
nodearray-gem-build/nodearrs
nodearray-gem-build/Makefile.*
nodearray-gem-build/Makefile
nodearray-gem-build/obj/*.o
nodearray-gem-build/object_script.nodearray-gem.Debug
nodearray-gem-build/object_script.nodearray-gem.Release
nodearray-gem-build/nodearray-gem.app
nodearray-gem-build/.qmake.*
nodearray-gem/nodearray-gem.pro.user
nodearray-gem/nodearray-gem3.pro.user
lib-gems3k/.qmake.stash
lib-gems3k/release/libgems3k3.a
.qmake.stash

