* text=auto !eol
/GEMIPM2K.pro -text
/Makefile.MinGW -text
/Makefile.lib -text
/array.h -text
/databr.h -text
/datach.h -text
doc/html/IPM-Flowchart.png -text
doc/html/Pitzer_Phase_page3.png -text
doc/html/Pitzer_phase_code.png -text
doc/html/SIT-Phase-page3.png -text
doc/html/gemipm2k-inp.html -text
doc/html/gemipm2k-man.html -text
doc/html/gems1.png -text
doc/txt/PGIcompile.txt -text
doc/txt/SVN-URL-ROCKFLOW-GEM.txt -text
doc/txt/ToDo-list.txt -text
doc/txt/databr.h -text
doc/txt/datach.h -text
doc/txt/dbr-dat-doc.txt -text
doc/txt/dch-dat-doc.txt -text
doc/txt/f_gem_node.h -text
doc/txt/f_gem_node.inc -text
doc/txt/filelist-doc.txt -text
doc/txt/ipm-dat-doc.txt -text
/gdatastream.cpp -text
/gdatastream.h -text
/gemipm2k.pri -text
/gstring.cpp -text
/gstring.h -text
/io_arrays.cpp -text
/io_arrays.h -text
/ipm_chemical.cpp -text
/ipm_chemical2.cpp -text
/ipm_chemical3.cpp -text
/ipm_main.cpp -text
/ipm_simplex.cpp -text
/jama_cholesky.h -text
/jama_lu.h -text
/m_const.h -text
/m_param.h -text
/main.cpp -text
/ms_multi.h -text
/ms_multi_file.cpp -text
/ms_multi_format.cpp -text
/ms_param.cpp -text
/node.cpp -text
/node.h -text
/node_format.cpp -text
/nodearray.cpp -text
/nodearray.h -text
/num_methods.cpp -text
/num_methods.h -text
obj/Readme.txt -text
platform/CRAYXT3-catamount/Makefile -text
platform/Linux-GNU/Makefile -text
platform/Linux-GNU/Makefile.lib -text
platform/Linux-PGI/Makefile -text
platform/Linux-PGI/Makefile.lib -text
platform/Linux-PGI/Makefile.prof -text
platform/other/Makefile -text
platform/win32MinGW/Makefile -text
platform/win32bcc/Makefile -text
/s_fgl.cpp -text
/s_fgl.h -text
/s_fgl2.cpp -text
test/Readme.1st -text
test/TEST.BAT -text
test/test.sh -text
/tnt.h -text
/tnt_array1d.h -text
/tnt_array2d.h -text
/tnt_i_refvec.h -text
/v_user.h -text
/verror.h -text
